{{ $severityBgColor := .Site.Params.DefaultSeverityBackground }}
{{ $severityColor := .Site.Params.DefaultSeverityColor }}
<div class="max-w-md w-full lg:flex shadow-md {{ .Site.Params.PastBodyColor }} rounded flex flex-col justify-between leading-normal mb-8 text-sm md:text-lg">

    <div class="{{ $severityColor }} {{ $severityBgColor }} rounded-t flex items-center px-4 py-2 justify-between">
        {{ if eq .Params.status "scheduled" }}

        {{ $scheduleOn := (time .Params.date) }}
        {{ if .Site.Params.dateFormat }}
            <span class="py-1">{{ $scheduleOn.Format .Site.Params.dateFormat }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</span>
            {{ else }}
            <span class="py-1">{{ $scheduleOn.Format "January 2, 2006 at 3:04 PM" }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</span>
            {{ end }}

        {{ end }}

        {{ if ne .Params.status "scheduled" }}

        {{ if .Site.Params.dateFormat }}
            <span class="py-1">{{ .Date.Format .Site.Params.dateFormat }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</span>
            {{ else }}
            <span class="py-1">{{ .Date.Format "January 2, 2006 at 3:04 PM" }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</span>
        {{ end }}

        {{ end }}

        {{ if eq .Params.status "resolved" }}

            {{ $t := (time .Params.resolved_on) }}
            {{ $timeDiff := (sub $t.Unix .Date.Unix) }}
            {{ $diffInMin := (div $timeDiff 60) }}

            <span class="bg-white rounded text-black text-lg px-3 py-1 ml-2">
                {{ if lt $timeDiff 60 }}
                    <span class="text-green-dark">
                    {{ T "inUnderAMinute" }}
                    </span>
                {{ else }}
                      {{ if gt $timeDiff 3600 }}
                        <span class="text-red-dark">
                          {{ $minutesForCalc := (mod $diffInMin 60) }}

                          {{ div (sub $diffInMin $minutesForCalc) 60 }}h
                          {{ $minutesForCalc }}m
                        </span>
                      {{ else }}
                        <span class="text-orange-dark">
                          {{ $secsForCalc := (mod $timeDiff 60) }}

                          {{ div (sub $timeDiff $secsForCalc) 60 }}m
                        </span>
                      {{ end }}
                {{ end }}

            </span>

        {{ end }}


    </div>


    <div class="px-4 pt-4 {{ .Site.Params.PastBodyBackground }}">
        <div class="font-bold text-xl my-2 {{ .Site.Params.ScheduledBodyTitleColor }}">{{ .Title }}</div>
        <div class="cls-past-event-content my-4">{{ .Content | safeHTML }}</div>
        <div class="cls-past-event-read-more border-t border-dotted border-grey-light text-sm text-center text-grey-darker">
            <span class="cls-read-more bg-blue-lighter rounded-sm px-6 py-2 cursor-pointer">+</span>
        </div>
    </div>

    <div class="flex items-center justify-between {{ .Site.Params.PastBodyBackground }} rounded-b px-4 pb-4 pr-8">
        <div class="max-w-xs leading-loose">
            {{ range .Params.Affected }}
            <span class="rounded px-3 py-1 text-sm mx-1 {{ $.Site.Params.AffectedBackground }} {{ $.Site.Params.AffectedColor }}">{{ . }}</span>
            {{ end }}
        </div>
        <div class="pt-2 pb-4 text-center">
            {{ $itemsCount := len .Params.Affected }}
            {{ $text := T "was" }}
            {{ if gt $itemsCount 1 }}
            {{ $text = T "were"}}
            {{ end }}
            <p class="mb-1">{{ $text }}</p>
            <p class="{{ $severityColor }} {{ $severityBgColor }} rounded px-3 py-2 text-sm font-semibold">{{ T .Params.max_severity }}</p>
        </div>
    </div>
</div>
