{{ $severityBgColor := .Site.Params.DefaultSeverityBackground }}
{{ $severityColor := .Site.Params.DefaultSeverityColor }}
{{ if eq .Params.current_severity "down" }}
  {{ $severityBgColor = .Site.Params.DownSeverityBackground }}
  {{ $severityColor = .Site.Params.DownSeverityColor }}
{{ else if eq .Params.current_severity "disrupted" }}
  {{ $severityBgColor = .Site.Params.DisruptedSeverityBackground }}
  {{ $severityColor = .Site.Params.DisruptedSeverityColor }}
{{ else if eq .Params.current_severity "monitoring" }}
  {{ $severityBgColor = .Site.Params.MonitoringSeverityBackground }}
  {{ $severityColor = .Site.Params.MonitoringSeverityColor }}
{{ end }}

<div class="max-w-md w-full lg:flex shadow-md {{ .Site.Params.SmallBodyColor }} rounded flex flex-col justify-between leading-normal mb-8 text-sm md:text-lg">

    <div class="{{ $severityColor }} {{ $severityBgColor }} rounded-t flex items-center px-4 py-2 justify-between">
        {{ if .Site.Params.dateFormat }}
                <span class="py-1">{{ .Date.Format .Site.Params.dateFormat }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</span>
                {{ else }}
                <span class="py-1">{{ .Date.Format "January 2, 2006 at 3:04 PM" }}{{ .Site.Params.TimezoneString }}{{ i18n "timezoneString" }}</span>
        {{ end }}

    </div>

    <div class="{{ .Site.Params.SmallBodyBackground }} p-4">
        <div class="font-bold text-xl my-2 {{ .Site.Params.ScheduledBodyTitleColor }}">{{ .Title }}</div>
        <div class="my-4">{{ .Content | safeHTML }}</div>
    </div>

    <div class="flex items-center justify-between {{ .Site.Params.SmallBodyBackground }} rounded-b px-4 pb-4 pr-8">
        <div class="max-w-xs leading-loose">
            {{ range .Params.Affected }}
            <span class="rounded px-3 py-1 text-sm mx-1 flex-none {{ $.Site.Params.AffectedBackground }} {{ $.Site.Params.AffectedColor }}">{{ . }}</span>
            {{ end }}
        </div>
        <div class="pt-2 pb-4 text-center">
            {{ $itemsCount := len .Params.Affected }}
            {{ $text := T "is" }}
            {{ if gt $itemsCount 1 }}
            {{ $text = T "are"}}
            {{ end }}
            <p class="text-sm mb-1">{{ $text }}</p>
            <span class="{{ $severityColor }} {{ $severityBgColor }} rounded px-3 py-2 font-semibold">{{ T .Params.current_severity }}</span>
        </div>
    </div>
</div>
