{{ partial "custom/above-footer" . }}
<div class="w-full px-4 py-6 {{ .Site.Params.FooterBackground }} {{ .Site.Params.FooterColor }}">
    <div class="max-w-sm mx-auto text-center">
        <p class="mb-4 font-bold">{{ now.Year }} &copy; {{ .Site.Params.CopyrightHolder }}</p>

        {{ if .Site.Params.description_footer }}
        <p class="mb-4">{{ .Site.Params.description_footer | safeHTML }}</p>
        {{ end }}

        <p class="">
            <small>
                <a class="{{ .Site.Params.FooterColor }}" href="#">{{ T "backToTop" }}</a> •
                {{ with $.Site.Home.OutputFormats.Get "rss" }}
                <a class="{{ $.Site.Params.FooterColor }}" href="{{ .Permalink }}">{{ T "rss" }}</a>
                {{ end }}
            </small>
        </p>
    </div>
</div>
{{ partial "custom/below-footer" . }}
